server {
  listen 80 default_server;

  root {{getv "/ngx/document/root" -}};

  location / {
    try_files $uri @rewriteapp;
  }

  location @rewriteapp {
    rewrite ^(.*)$ /{{getv "/ngx/php/front/controller" -}}/$1 last;
  }

  location ~ {{getv "/ngx/php/location" -}}{
    include /etc/nginx/fastcgi_params;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTP_PROXY "";
    fastcgi_param HTTPS off;
    fastcgi_pass 127.0.0.1:9000;
  }
}
